{% extends "base.html" %}

{% block title %}
Добавление статьи
{% endblock %}

{% block main %}

<form method="POST">
        {{ form.csrf_token }}
        <h2>{{ current_user.username }}, Вы можете добавить статью.</h2>
        {{ form.article_heading.label }} {{ form.article_heading(class="form-control") }}
        {{ form.article_body.label }} {{ form.article_body(class="form-control form-control-lg", placeholder="Текст статьи", rows=10) }}
        <input type="submit" value="Добавить">
</form>

{% endblock %}
